@import "null-style.css";
@import "header.css";
@import "fonts.css";
body {
    background-color: #171717;
    font-family: "Gilam Regular";
}
.container__contact {
    max-width: 1680px;
    margin-left: auto;
    padding-left: 10px;
}
nav {
    display: flex;
}
.page__block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.page__left {
    max-width: 869px;
    width: 50%;
}
.page__position a {
    font-family: "Circle Light";
    font-style: normal;
    font-size: 18px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #606060;
}
.page__position span {
    color: #606060;
    padding: 0 5px;
}
.page__title {
    font-family: "Gilam Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 40px;
}
.page__subtitle {
    font-family: "Gilam Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 75px;
}
.page__contacts {
    font-family: "Gilam Semi-Bold";
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.page-contacts__phone {
    font-family: "Gilam Semi-Bold";
    display: flex;
    align-items: center;
}
.page-contacts__phone p {
    font-family: "Gilam Semi-Bold";
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
}
.page-contacts__email {
    display: flex;
    align-items: center;
    margin-top: 26px;
}
.page-contacts__email p {
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}
.page-contacts__address {
    display: flex;
    align-items: baseline;
    margin-top: 26px;
}
.page-contacts__address p {
    margin-left: 15px;
    max-width: 487px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}
.page-contacts__btn {
    margin-top: 40px;
}
.page-contacts__btn img {
    vertical-align: middle;
    margin-right: 5px;
}
.page-contacts__btn a {
    font-family: "Circle Regular";
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding: 10px 40px;
    border: 1px solid #e4b564;
}
.page-place__info {
    font-family: "Gilam Semi-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 40px;
}
.page-place__info img {
    vertical-align: middle;
    margin-right: 5px;
}
.page-place__info p {
    margin-bottom: 40px;
}
.page-place__info a {
    font-family: "Circle Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding: 10px 40px;
    border: 1px solid #e4b564;
}
.page-contact-us h4 {
    font-family: "Gilam Semi-Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 87px;
}
.page-contact-us p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 13px;
}
form {
    max-width: 712px;
}
.form__block {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    flex-wrap: wrap;
}
.form__left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #ffffff;
    max-width: 339px;
    width: 100%;
}
.form__left input {
    color: #fff;
}
.form__left p {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
}
.form__left input {
    margin-top: 14px;
    padding: 15px 25px;
    height: 60px;
    background: #0e0e0e;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}
.form__right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 339px;
    width: 100%;
}
.form__right input {
    margin-top: 14px;
    padding: 15px 25px;
    height: 60px;
    background: #0e0e0e;
}
.form__right a {
    margin-top: 36px;
    cursor: pointer;
    padding: 22px 25px;
    background: #0e0e0e;
    border: 1px solid #e4b564;
    color: #e4b564;
    text-align: center;
}
.form__right p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
}

.page__right {
    max-width: 821px;
    width: 50%;
}
.page__right iframe {
    width: 100%;
    min-height: 1155px;
}
.chous {
    cursor: pointer;
    display: block;
    height: 60px;
    padding: 15px 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    background: #0e0e0e;
    color: #fff;
    margin: 36px 0 14px 0;
}

.my {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form-left__btn {
    position: relative;
}
.form-left__btn img {
    position: absolute;
    top: 57px;
    right: 19px;
}
.check {
    margin: 40px 0 20px 0;
}

.check input[type="checkbox"] {
    display: none;
}
.check label {
    display: flex;
    align-items: end;
    cursor: default;
    font-weight: normal;
    padding: 10px 0;
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
}
.check a {
    font-family: "Gilam Regular";
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    padding-top: 4px;
}
.check span {
    text-decoration: underline;
}
.check label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    height: 29px;
    background: #fff;
    min-width: 29px;
}
.check input:checked + label:before {
    content: "\f00c";
    background: #e4b564;
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    font-weight: 900;
}
.check input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
@media (min-width: 1px) {
    .container__contact {
        padding: 0px 15px;
        min-width: 290px;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .w-100 {
        width: 100%;
    }
}
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-100 {
        width: 50%;
    }
    .container__contact {
        padding: 0 0 0 10px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
}
