/*null-style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Gilam Bold";
  src: url("../fonts/Fonts-boroda/GilamBold.eot");
  src: local("☺"), url("../fonts/Fonts-boroda/GilamBold.woff") format("woff"),
    url("../fonts/Fonts-boroda/GilamBlack.ttf") format("truetype"),
    url("../fonts/Fonts-boroda/GilamBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gilam Book';
  src: url('../fonts/Fonts-boroda/GilamBook.eot');
  src: local('☺'), url('../fonts/Fonts-boroda/GilamBlack.woff') format('woff'), url('../fonts/Fonts-boroda/GilamBlack.ttf') format('truetype'), url('../fonts/Fonts-boroda/GilamBlack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gilam Regular';
  src: url('../fonts/Fonts-boroda/GilamRegular.eot');
  src: local('☺'), url('../fonts/Fonts-boroda/GilamRegular.woff') format('woff'), url('../fonts/Fonts-boroda/GilamRegular.ttf') format('truetype'), url('../fonts/Fonts-boroda/GilamRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle-bold";
  src: url("../fonts/Circle-fonts/Circle-bold.eot");
  src: local("☺"), url("../fonts/Circle-fonts/Circle-bold.woff") format("woff"),
    url("../fonts/Circle-fonts/Circle-bold.ttf") format("truetype"),
    url("../fonts/Circle-fonts/Circle-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circle-light";
  src: url("../fonts/Circle-fonts/Circle-light.eot");
  src: local("☺"), url("../fonts/Circle-fonts/Circle-light.woff") format("woff"),
    url("../fonts/Circle-fonts/Circle-light.ttf") format("truetype"),
    url("../fonts/Circle-fonts/Circle-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circle-regular";
  src: url("../fonts/Circle-fonts/Circle-Regular.eot");
  src: local("☺"),
    url("../fonts/Circle-fonts/Circle-Regular.woff") format("woff"),
    url("../fonts/Circle-fonts/Circle-Regular.ttf") format("truetype"),
    url("../fonts/Circle-fonts/Circle-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GilamSemiBold';
  src: url('../fonts/Fonts-boroda/GilamSemiBold.eot');
  src: local('☺'), url('../fonts/Fonts-boroda/GilamSemiBold.woff') format('woff'), url('../fonts/Fonts-boroda/GilamSemiBold.ttf') format('truetype'), url('../fonts/Fonts-boroda/GilamSemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GilamExtraLight';
  src: url('../fonts/Fonts-boroda/GilamExtraLight.eot');
  src: local('☺'), url('../fonts/Fonts-boroda/GilamExtraLight.woff') format('woff'), url('../fonts/Fonts-boroda/GilamExtraLight.ttf') format('truetype'), url('../fonts/Fonts-boroda/GilamExtraLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/** Generated by FG **/
@font-face {
	font-family: 'GilamLight';
	src: url('../fonts/Fonts-boroda/GilamLight.eot');
	src: local('☺'), url('../fonts/Fonts-boroda/GilamLight.woff') format('woff'), url('../fonts/Fonts-boroda/GilamLight.ttf') format('truetype'), url('../fonts/Fonts-boroda/GilamLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}











body {
  font-family: "Gilam Bold";
  font-size: 100px;
}

p {
  font-family: serif;
}

/* Media  */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 0px 15px 0px 15px;
    min-width: 290px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}