@import "null-style.css";
@import "fonts.css";
@import "header.css";

/* header-section */
.header-infrastructure-bg-wrapper {
  background: url("../img/bg-header.png") 0 0 / cover no-repeat;
}
.header-block {
  padding: 40px 0px 0px 0px;
}
.header-block__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-block__tel {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}
.header-block__tel p {
  color: #fff;
}
.header-block__tel span {
  color: #d6af76;
}

.infrastructure-block {
  padding: 60px 0px 60px 0px;
}
.infrastructure-block__logo {
  margin: 0px 0px 60px 0px;
}
.infrastructure-block__logo img {
  width: 100%;
  max-width: 290px;
  height: auto;
}

.infrastructure-block-service {
  padding: 0px 0px 25px 0px;
}
.infrastructure-block-service__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Circle Light";
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
  max-width: 290px;
}
.items__logo {
  margin: 0px 10px 20px 0px;
}
.items__text {
  max-width: 230px;
  margin: 0px 0px 20px 0px;
}
.infrastructure-block-description {
  margin: 40px 0px 0px 0px;
}
.infrastructure-block-description__title {
  font-family: "Gilam Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
.infrastructure-block-description__list li {
  font-family: "Gilam Light";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
}

.infrastructure-block-description__list li::before {
  flex: 0 0 10px;
  content: "";
  background-color: #fff;
  height: 2px;
  margin: 15px 10px 0px 0px;
}

/* our-principles-block */
.our-principes-block {
  background-color: #171717;
  padding: 60px 0px 60px 0px;
}

.our-principes-block__row {
  display: flex;
  flex-wrap: wrap;
}
.our-principes-block__body {
}
.items-our-principes-block {
}
.items-our-principes-block__title {
  font-family: "Gilam Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}
.items-our-principes-block__row {
  display: flex;
}
.items-our-principes-block__icon {
  margin: -5px 15px 0px 0px;
}
.items-our-principes-block__list {
}
.items-our-principes-block__list-title {
  font-family: "Circe Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
.items-our-principes-block__list-list {
  font-family: Circe Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
.items-our-principes-block__list-list li {
  margin: 0px 0px 15px 0px;
}
.our-principes-block__btn {
  border: 1px solid #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 320px;
  margin: 30px 0px 0px 0px;
}
.our-principes-block__btn a {
  font-family: Circe Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}

.our-principes-block__slider {
  max-width: 290px;
  text-align: center;
}
.slide {
}
.photo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.slider-nav {
  width: 290px;
  height: 172px;
  background-color: #202020;
  padding: 31px 0px 12px 0px;
}
.name {
  font-family: Circe Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin: 0px 0px 12px 0px;
}
.text {
  font-family: Circe Light;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
/* Media  */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  .container {
    padding: 0px 15px 0px 15px;
    min-width: 290px;
  }
}
@media (min-width: 576px) {
  .container {
    padding: 0px 15px 0px 15px;
    min-width: 290px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
