@import "null-style.css";
@import "fonts.css";
@import "header.css";

body {
  background-color: #171717;
  font-family: "Gilam Regular";
}
.projects-block {
  padding: 70px 0px 50px 0px;
}
.projects-block__page-position {
  margin: 0px 0px 40px 0px;
}
.projects-block__page-position a {
  font-family: "Circle Light";
  font-style: normal;
  font-size: 18px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #606060;
}
.projects-block__page-position span {
  color: #606060;
  padding: 0 5px;
}
.projects-block__title h3 {
  font-family: "Gilam Bold";
  font-size: 30px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 0px 40px 0px;
}

.our-customers-block__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rectangle {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items-our-customers-block__rectangle1 {
  background: url("../img/our-customers-block-bg1.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle2 {
  background: url("../img/our-customers-block-bg2.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle3 {
  background: url("../img/projects-block-bg3.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle4 {
  background: url("../img/projects-block-bg4.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle4 .items-our-customers-block__status {
  background: #e4b564;
}
.items-our-customers-block__rectangle4
  .items-our-customers-block__status-circle {
  background: #e4b564;
}
.items-our-customers-block__rectangle5 {
  background: url("../img/projects-block-bg5.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle6 {
  background: url("../img/projects-block-bg6.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle7 {
  background: url("../img/projects-block-bg7.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle8 {
  background: url("../img/projects-block-bg8.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle9 {
  background: url("../img/projects-block-bg9.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle10 {
  background: url("../img/projects-block-bg10.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle11 {
  background: url("../img/projects-block-bg11.png") 0 0 / cover no-repeat;
}
.items-our-customers-block__rectangle12 {
  padding: 0px 0px 30px 0px;
  background: url("../img/projects-block-bg12.png") 0 0 / cover no-repeat;
}

.items-our-customers-block__status {
  width: 100%;
  max-width: 75px;
  height: 20px;
  background: #69ce6d;
  border-radius: 22px;
  position: absolute;
  top: 14px;
  right: 20px;
}
.items-our-customers-block__status p {
  font-family: "Gilam Light";
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.items-our-customers-block__logo {
  margin: 30px 0px 20px 0px;
}
.items-our-customers-block__logo img {
  width: 100%;
  height: auto;
}

.items-our-customers-block__text {
  font-family: "Gilam Regular";
  font-style: normal;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 220px;
}
.items-our-customers-block__text-details {
  display: none;
}
.items-our-customers-block__text {
  max-width: 320px;
}
.items-our-customers-block__text-adres {
  font-family: "Gilam Light";
  font-size: 16px;
  display: block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
.popup {
  background: #000000;
  color: #ffffff;
  padding: 30px 45px 15px 45px;
  width: 100%;
  max-width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 16px;
  line-height: 29px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.popup__text-title {
  margin: 0px 0px 10px 0px;
  font-family: "Gilam Bold";
}
.popup__text {
  margin: 0px 0px 30px 0px;
  font-family: "Gilam Light";
}

/* meadia */
@media (min-width: 320px) {
  .container {
    padding: 0px 15px 0px 15px;
    min-width: 290px;
  }
}
@media (min-width: 576px) {
  .container {
    padding: 0px 15px 0px 15px;
    min-width: 290px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .popup {
    max-width: 500px;
    padding: 80px 100px 80px 90px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .rectangle {
    width: 100%;
    max-width: 350px;
    height: 390px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
    position: relative;
  }
  .items-our-customers-block__text {
    max-width: 320px;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    height: 0;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1;
  }
  .items-our-customers-block__logo img {
    position: relative;
    z-index: 1;
  }
  .rectangle:hover .items-our-customers-block__text {
    opacity: 1;
    visibility: visible;
    height: 130px;
  }
  .items-our-customers-block__text p {
    margin: 0px 0px 0px 0px;
  }
  .items-our-customers-block__text-adres {
    font-family: "Gilam Light";
    font-size: 18px;
    display: block;
  }
  .items-our-customers-block__text-details {
    display: none;
  }
  .rectangle:hover .items-our-customers-block__text {
    display: block;
  }
  .rectangle:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(177, 128, 55, 0.6);
  }
  .popup {
    max-width: 500px;
    padding: 80px 100px 80px 90px;
    position: absolute;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .items-our-customers-block__status-circle {
    width: 100%;
    max-width: 22px;
    height: 20px;
    background: #69ce6d;
    border-radius: 22px;
    position: absolute;
    top: 14px;
    right: 20px;
    transition: all 0.3s ease 0s;
  }
  .items-our-customers-block__status {
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
  }
  .rectangle:hover .items-our-customers-block__status {
    opacity: 1;
    visibility: visible;
  }
  .rectangle:hover .items-our-customers-block__status-circle {
    opacity: 0;
    visibility: hidden;
  }

  .rectangle {
    width: 100%;
    max-width: 480px;
    height: 390px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
    position: relative;
  }
  .items-our-customers-block__text {
    max-width: 320px;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    height: 0;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1;
  }
  .items-our-customers-block__logo img {
    position: relative;
    z-index: 1;
  }
  .rectangle:hover .items-our-customers-block__text {
    opacity: 1;
    visibility: visible;
    height: 130px;
  }
  .items-our-customers-block__text p {
    margin: 0px 0px 0px 0px;
  }
  .items-our-customers-block__text-adres {
    font-family: "Gilam Light";
    font-size: 18px;
    display: block;
  }
  .items-our-customers-block__text-details {
    display: none;
  }
  .rectangle:hover .items-our-customers-block__text {
    display: block;
  }
  .rectangle:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(177, 128, 55, 0.6);
  }
  .popup {
    max-width: 650px;
    padding: 80px 100px 100px 90px;
  }
}
